<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>注 转</title>
  <link rel="stylesheet" href="/petshop.css">
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section id="header">

        <div>
            <ul id="navbar">
                <li><a href="cart.html"><img src="/images/bag.png"  width="20px"></a></li>
                <li><a href="/auth/login">专 砖</a></li>
                <li><a href="/products/reptiles"></a></li>
                <li><a href="/products/fish"></a></li>
                <li><a href="/products/birds">爪驻专</a></li>
                <li><a href="/products/rodents">专住</a></li>
                <li><a href="/products/dogs"></a></li>
                <li><a href="/products/cats">转</a></li>
                <li><a href="/" class="active">转</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="...驻砖">
            <button type="submit"></button>
        </div>
        <a href="#"><img src="images/petlogo2.png" class="logo" alt="" width="75px"></a>


    </section>

    <section id="hero">
        <h4>!爪注 砖 拽专 2024</h4>
        <h2>爪注 砖转 转专</h2>
        <h1>注 爪专 专</h1>
        <p>!注 70% </p>
        <button>专砖 专</button>

    </section>

    <section id="feature" class="section-p1">
        <div class="feature-box">
            <img src="images/features/dog.png" alt="">
            <h3>拽转 </h3>
        </div>
        <div class="feature-box">
            <img src="images/features/cat.png" alt="">
            <h3>拽转 转</h3>
        </div>
        <div class="feature-box">
            <img src="images/features/fish.png" alt="">
            <h3>拽转 </h3>
        </div>
        <div class="feature-box">
            <img src="images/features/bunny.png" alt="">
            <h3>拽转 专住</h3>
        </div>
        <div class="feature-box">
            <img src="images/features/birds.png" alt="">
            <h3>拽转 爪驻专</h3>
        </div>

    </section>

    <section id="banner" class="section-m1">
        <h4>!砖  砖专转 砖 转</h4>
        <h1>砖专转 住驻专 </h1>
        <h2>拽 注 200 砖" <span>30%</span>  转住驻专转</h2>
        <h4>注 住祝  09-9560-101</h4>
    </section>

    <footer class="section-p1">
        <div class="col">
            <h4>转转</h4>
            <p> 专 30 专爪</p>
            <p>拽 5 专爪</p>
        </div>

        <div class="col">
            <h4>砖注转 驻注转</h4>
            <p> '-': 8:00-21:00</p>
            <p> ' 砖转: 住专</p>

        </div>

        <div class="col">
            <h4>爪专 拽砖专</h4>
            <p>驻: 075-222-0100</p>
            <p>驻拽住: 09-9560-101</p>
            <p>": petshop@email.com</p>
        </div>

        <div class="col">
            <h4>注 砖砖</h4>
            <a href="#">转</a>
            <a href="#">转拽</a>
            <a href="#">转 砖</a>
            <a href="#">爪专转 砖转</a>
            <a href="#">爪专 拽砖专</a>
        </div>

        <div class="col">
            <h4>砖 砖</h4>
            <a href="#">转专</a>
            <a href="#">注转 拽转</a>
            <a href="#">注拽 专 砖</a>
            <a href="#">注专</a>
        </div>
        
        <div class="col">
            <h4>注拽 专</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>   

    </footer>

    <div class="copyright">
        <p> 转 砖专转 - 转 转 专爪 @</p>
    </div>


    <script src="petshop.js"></script>
</body>
</html>


