<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dogs</title>
  <link rel="stylesheet" href="/petshop.css">
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section id="header">

        <div>
            <ul id="navbar">
                <li><a href="cart.html"><img src="images/bag.png"  width="20px"></a></li>
                <li><a href="contant.html">专 砖</a></li>
                <li><a href="reptiles.html"></a></li>
                <li><a href="fish.html"></a></li>
                <li><a href="birds.html">爪驻专</a></li>
                <li><a href="rodents.html">专住</a></li>
                <li><a href="/dogs" class="active"></a></li>
                <li><a href="cats.html">转</a></li>
                <li><a href="/">转</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="...驻砖">
            <button type="submit"></button>
        </div>
        <a href="#"><img src="images/logo.jpg" class="logo" alt="" width="75px"></a>

    </section>

    <section id="dog-banner" class="section-m1">
        <h1>拽转 </h1>
    </section>

    <section id="dogprod">
        
      </section>
  
    <footer class="section-p1">
        <div class="col">
            <h4>转转</h4>
            <p> 专 30 专爪</p>
            <p>拽 5 专爪</p>
        </div>

        <div class="col">
            <h4>砖注转 驻注转</h4>
            <p> '-': 8:00-21:00</p>
            <p> ' 砖转: 住专</p>

        </div>

        <div class="col">
            <h4>爪专 拽砖专</h4>
            <p>驻: 075-222-0100</p>
            <p>驻拽住: 09-9560-101</p>
            <p>": petshop@email.com</p>
        </div>

        <div class="col">
            <h4>注 砖砖</h4>
            <a href="#">转</a>
            <a href="#">转拽</a>
            <a href="#">转 砖</a>
            <a href="#">爪专转 砖转</a>
            <a href="#">爪专 拽砖专</a>
        </div>

        <div class="col">
            <h4>砖 砖</h4>
            <a href="#">转专</a>
            <a href="#">注转 拽转</a>
            <a href="#">注拽 专 砖</a>
            <a href="#">注专</a>
        </div>
        
        <div class="col">
            <h4>注拽 专</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>   

    </footer>

    <div class="copyright">
        <p> 转 砖专转 - 转 转 专爪 @</p>
    </div>


    <script src="petshop.js"></script>
</body>
</html>


